@using Microsoft.AspNetCore.Components.Web
<div>
    <MatTextField @bind-Value="@SearchText" Label="Enter an ingredient you have"/>

    <MatButton Label="Search" Raised="true" Icon="search" OnClick="@OnSearchClicked"/>
</div>


@code {

private string searchText;

[Parameter]
public string SearchText
{
    get => searchText;
    set
    {
        if (searchText == value)
        {
            return;
        }

        searchText = value;
        StateHasChanged();
    }
}

[Parameter]
public EventCallback<string> OnSearch { get; set; }

private void OnSearchClicked(MouseEventArgs e)
{
    OnSearch.InvokeAsync(SearchText).ConfigureAwait(false);
}

}
